{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-class-properties", "transform-es2015-destructuring", "transform-object-rest-spread", "add-module-exports"],
  "env" : {
    "test": {
      "plugins": [ [ "__coverage__", { "only": "src/!(wtf.jsx|wtf2.js)" } ] ]
    }
  }
}